@model SoporteTest1.Ticket

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_added)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_solved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_solved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser1.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartamentoTI.DeptoTI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartamentoTI.DeptoTI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatu.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatu.Estado)
        </dd>

        @if (Model.Archivos.Count > 0)
        {
            <dt>Archivos adjuntos</dt>
            <dd>
                @foreach (var arc in Model.Archivos)
                {
                
                                var fileFormat = arc.Filename.Substring(arc.Filename.Length - 3).ToLower();
                                string[] imagenes = { "jpg", "png", "gif" };
                    if (imagenes.Contains(fileFormat))
                    {
                        <div class="img">
                            <a target="_blank" href="~/Content/Uploads/@arc.Filename">
                                <img src="~/Content/Uploads/@arc.Filename" alt="@arc.Filename" width="300" height="200">
                            </a>
                        </div>
                        //<img width="100px" height="100px" src="~/Content/Uploads/@arc.Filename">
                    } else { 
                        <a href="~/Content/Uploads/@arc.Filename">@arc.Filename</a>
                    }
                }
            </dd>
        }

    </dl>

</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
