@model IEnumerable<SoporteTest1.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_added)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_solved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser1.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartamentoTI.DeptoTI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatu.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_added)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_solved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser1.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartamentoTI.DeptoTI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatu.Estado)
        </td>
        <td>
            @{
                if (User.IsInRole("Admin") || User.Identity.Name == item.AspNetUser1.Email)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })<span> |</span>;
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })<span> |</span>;
                }
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>

